In [1]:
import numpy as np
import pandas as pd
import pandas as pd
import numpy as np
import os
import pickle
from pandas.plotting import scatter_matrix
from itertools import permutations
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [2]:
_DATA = "table_Preclassified.xlsx"

In [3]:
table = pd.read_excel(_DATA)

In [4]:
table.info()
new_datetime_filtered = table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Idade                   39 non-null     object
 1   Sexo                    39 non-null     object
 2   Produto                 39 non-null     object
 3   Acompanhamento          39 non-null     object
 4   Grupo gerado por Kmean  39 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.6+ KB

In [5]:
table

       Idade        Sexo      Produto Acompanhamento  Grupo gerado por Kmean
0    22 anos   Feminino         Pizza           Baré                       3
1   32 anos     Feminino  Hambúrguer       Coca-cola                       0
2    18 anos   Masculino       Pastel    São Geraldo                       2
3    22 anos    Feminino        Pizza           Baré                       3
4    32 anos    Feminino   Hambúrguer    São Geraldo                       2
5    18 anos   Masculino  Hambúrguer       Coca-cola                       1
6    18 anos  Masculino         Pizza    São Geraldo                       1
7    32 anos   Feminindo        Pizza      Coca-cola                       1
8    18 anos    Feminino       Pastel    São Geraldo                       2
9   32 anos     Feminino  Hambúrguer            Baré                       0
10  22 anos    Masculino       Pastel    São Geraldo                       6
11  22 anos     Feminino        Pizza           Baré                       5
12  32 anos    Masculino       Pastel           Baré                       0
13   22 anos   Masculino  Hambúrguer     São Geraldo                       0
14   18 anos   Masculino        Pizza      Coca-cola                       1
15   22 anos   Masculino       Pastel    São Geraldo                       0
16   18 anos   Feminino   Hambúrguer       Coca-cola                       4
17   18 anos   Masculino        Pizza    São Geraldo                       1
18   22 anos   Feminino         Pizza           Baré                       3
19   32 anos  Masculino        Pastel           Baré                       6
20   22 anos    Feminino       Pastel      Coca-cola                       0
21   18 anos   Masculino        Pizza    São Geraldo                       1
22  18 anos    Masculino  Hambúrguer            Baré                       5
23   32 anos   Feminino   Hambúrguer     São Geraldo                       4
24   22 anos    Feminino        Pizza      Coca-cola                       3
25   22 anos   Masculino       Pastel    São Geraldo                       0
26   32 anos    Feminino       Pastel      Coca-cola                       2
27  32 anos   Masculino   Hambúrguer     São Geraldo                       1
28   18 anos   Feminino         Pizza      Coca-cola                       4
29   22 anos    Feminino  Hambúrguer            Baré                       0
30  32 anos    Masculino  Hambúrguer       Coca-cola                       0
31   18 anos    Feminino       Pastel           Baré                       2
32   18 anos    Feminino        Pizza           Baré                       4
33   22 anos   Masculino  Hambúrguer     São Geraldo                       0
34   32 anos    Feminino        Pizza           Baré                       4
35   18 anos    Feminino  Hambúrguer       Coca-cola                       4
36   18 anos   Masculino  Hambúrguer       Coca-cola                       1
37   22 anos    Feminino       Pastel    São Geraldo                       0
38   32 anos   Masculino       pastel           Baré                       6

In [6]:
#Configurando os tipos
new_datetime_filtered.dtypes
for ind,value in new_datetime_filtered.items():
    if value.dtypes == 'object':
        new_datetime_filtered[ind] = new_datetime_filtered[ind].str.strip()

In [7]:
#Configurando os tipos
new_datetime_filtered.dtypes
for ind,value in new_datetime_filtered.items():
    if value.dtypes == 'object':
        new_datetime_filtered[ind] = new_datetime_filtered[ind].astype('category')

In [8]:
new_datetime_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Idade                   39 non-null     category
 1   Sexo                    39 non-null     category
 2   Produto                 39 non-null     category
 3   Acompanhamento          39 non-null     category
 4   Grupo gerado por Kmean  39 non-null     int64
dtypes: category(4), int64(1)
memory usage: 1.1 KB

In [9]:
table_dropped = new_datetime_filtered.dropna()

In [18]:
#ndmdi_factorized = table_dropped.iloc[:,[0,1,2,]].apply(lambda x : pd.factorize(x)[0])
ndmdi_factorized = table_dropped.drop(columns = 'Acompanhamento').apply(lambda x : pd.factorize(x)[0])
#ndimi_label = table_dropped.drop(columns = 'Acompanhamento').apply(lambda x : pd.factorize(x)[1])
table_dropped.drop(columns = 'Acompanhamento').apply(lambda x : pd.factorize(x)[0])

In [16]:
ndmdo_label

CategoricalIndex(['Baré', 'Coca-cola', 'São Geraldo'], categories=['Baré', 'Coca-cola', 'São Geraldo'], ordered=False, dtype='category')

In [11]:
#temp = table_dropped.iloc[:,[3]].apply(lambda x : pd.factorize(x))
temp = table_dropped.loc[:,['Acompanhamento']].apply(lambda x : pd.factorize(x))
ndmdo_label = temp.iloc[1,0]
ndmdo_factorized = temp.iloc[0,0]

In [12]:
X = ndmdi_factorized.values
X

array([[0, 0, 0, 0],
       [1, 0, 1, 1],
       [2, 1, 2, 2],
       [0, 0, 0, 0],
       [1, 0, 1, 2],
       [2, 1, 1, 3],
       [2, 1, 0, 3],
       [1, 2, 0, 3],
       [2, 0, 2, 2],
       [1, 0, 1, 1],
       [0, 1, 2, 4],
       [0, 0, 0, 5],
       [1, 1, 2, 1],
       [0, 1, 1, 1],
       [2, 1, 0, 3],
       [0, 1, 2, 1],
       [2, 0, 1, 6],
       [2, 1, 0, 3],
       [0, 0, 0, 0],
       [1, 1, 2, 4],
       [0, 0, 2, 1],
       [2, 1, 0, 3],
       [2, 1, 1, 5],
       [1, 0, 1, 6],
       [0, 0, 0, 0],
       [0, 1, 2, 1],
       [1, 0, 2, 2],
       [1, 1, 1, 3],
       [2, 0, 0, 6],
       [0, 0, 1, 1],
       [1, 1, 1, 1],
       [2, 0, 2, 2],
       [2, 0, 0, 6],
       [0, 1, 1, 1],
       [1, 0, 0, 6],
       [2, 0, 1, 6],
       [2, 1, 1, 3],
       [0, 0, 2, 1],
       [1, 1, 3, 4]], dtype=int64)

In [13]:
y = ndmdo_factorized
y

array([0, 1, 2, 0, 2, 1, 2, 1, 2, 0, 2, 0, 0, 2, 1, 2, 1, 2, 0, 0, 1, 2,
       0, 2, 1, 2, 1, 2, 1, 0, 1, 0, 0, 2, 0, 1, 1, 2, 0], dtype=int64)

In [14]:
# Criando o modelo
from sklearn import datasets
softmax_reg = LogisticRegression(multi_class = "multinomial", solver = "lbfgs",C = 10)
softmax_reg.fit(X,y)

LogisticRegression(C=10, multi_class='multinomial')

In [15]:
import pickle
with open('logistic.sav','wb') as file:
    pickle.dump(softmax_reg,file)